################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/playground/v17/.suo
/.vs/playground/v17
/.vs/playground/project-colors.json
